body {
  background: linear-gradient(to bottom, #e9f7f3, #ffffff);
  font-family: "Libre Baskerville", serif;
}

:root {
  --primary-color: #1e3a8a; /* blue shade */
  --secondary-color: #facc15; /* yellow shade */
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

.font {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.font-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

/* index.css or global.css */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
  -webkit-appearance: none;
}
